version: '2'

services: 
    netty-socks5: 
        build: ./netty-socks5
        ports: 
            - "1081:1080"
    rust-socks5:
        build: ./rust-socks5
        ports:
            - "1082:1080"
        
    # tokio-socks5:
    #     build: ./tokio-socks5
    #     ports:
    #         - "1083:1080"
    webapp:
        build: ./webapp